.card1{
    border-left:6px solid #2563EB;
}

.card2{
    border-left:6px solid #F59E0B;
}

.card3{
    border-left:6px solid #22C55E;
}

.card4{
    border-left:6px solid #8B5CF6;
}

.card1 .icon{
    color:#2563EB;
}

.card2 .icon{
    color:#F59E0B;
}

.card3 .icon{
    color:#22C55E;
}

.card4 .icon{
    color:#8B5CF6;
}

/* ===== DARK MODE ===== */

body.dark {
    background: #0f172a;
    color: #ffffff;
}

body.dark .container {
    background: #0f172a;
}

body.dark .sidebar {
    background: #1e293b;
}

body.dark .sidebar a {
    color: #ffffff;
}

body.dark .sidebar li.active {
    background: #334155;
}

body.dark .main {
    background: #111827;
}

body.dark .card {
    background: #1e293b;
    color: #ffffff;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

body.dark table {
    background: #1e293b;
    color: #ffffff;
}

body.dark th {
    background: #334155;
    color: #ffffff;
}

body.dark td {
    border-color: #475569;
}

body.dark #themeBtn {
    background: #2563EB;
    color: white;
}